.search {
  display: flex;
  padding: 15px 0;
}
.header {
  display: flex;
  .common {
    background: #ccc;
    flex: 1;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
}
.bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 90px;
  border-top: 1px solid #f7f7f7;
  padding: 10px 40px 40px 10px;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
}
