@import '~antd/es/style/themes/default.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);
.right {
  flex: 1;
  padding: 10px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  height: 60vh;
  .recordHeader {
    height: 32px;
    line-height: 32px;
    margin-bottom: 8px;
    text-align: center;
  }
  .chatPanel {
    // position: relative;
    // height: 100%;
    width: 100%;
    .chatPanelContainer {
      position: absolute;
      top: 16px;
      left: 0;
      width: 100%;
      height: calc(100vh - 330px);
      overflow: auto;
      .chatList {
        margin-left: -40px;
        li {
          position: relative;
          margin-bottom: 8px;
          min-height: 60px;
        }
        .avatar {
          position: absolute;
        }
        .chatTime {
          font-size: 11px;
        }
        .chatName {
          font-size: 11px;
          margin-left: 10px;
        }
        .chatText {
          display: inline-block;
          text-align: left;
          margin-top: 8px;
          padding: 6px 8px;
          font-size: 14px;
          line-height: 1.5;
          margin-left: 15px;
          font-weight: 500;
          word-break: break-all;
          max-width: 80%;
        }
        .chatItemMine {
          text-align: right;
          padding-right: 60px;
          padding-left: 0;
          .avatar {
            right: 0;
          }
          .chatText {
            background-color: rgba(24, 158, 145, 0.5); //#99cc00;
            border-radius: 8px 0 8px 8px;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        .chatItemJoysec {
          .avatar {
            left: 0;
          }
          .chatName {
            font-size: 11px;
            margin-left: 48px;
          }
          .chatText {
            margin-left: 48px;
            // background-color: #1BB8A8;
            border-radius: 0 8px 8px 8px;
            border: 1px solid #cccccc;
          }
        }
      }
    }
  }
  .bottomLoading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80px;
    font-size: 8px;
    position: absolute;
    top: 0;
    left: 50%-4px;
  }
  .noContent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    height: calc(100vh - 330px);
  }
}
