@import '~antd/lib/style/themes/default.less';
.gutter-row {
  padding: 30px;
  .gutter-box {
    background: hsl(0, 0%, 97%);
    border-radius: 10px;
    padding: 20px;
    height: calc(~'40vh - 120px');
    overflow-y: auto;
    text-align: center;
  }
}
