<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AI招聘系统</title>
  <link rel="icon" type="image/x-icon" href="//www.jd.com/favicon.ico">
</head>

<body>
  <div id="root"></div>
  <script src="<%=htmlWebpackPlugin.options.flowPath %>dll/vendors.dll.js"></script>
</body>

</html>
